TJE_Framework-master/data/animaciones/ThrillerIdle.mesh filter=lfs diff=lfs merge=lfs -text
TJE_Framework-master/data/animaciones/finalzombi.mesh filter=lfs diff=lfs merge=lfs -text
TJE_Framework-master/data/animaciones/ZombieIdle1.mesh filter=lfs diff=lfs merge=lfs -text
